# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

# build files
*.o
*.d

#libs
*.a

#model files
*.mdl

#files created by build
*.apk
*.ap_
*.class
drbeef-release-key.keystore
*.json
*.bin
*.ser
.idea
.gradle
app/src/main/assets/*.pk4
local.properties